@charset "UTF-8";

@media screen and (min-width: 1200px) {
    span#burguer {
        display: none;
    }

    nav {
        display: block;
    }
    
    p#idengrandes {
        display: inline;
        padding-top: 10px;
        margin-left: 36%;
    }

    main {
        max-width: 1200px;
    }
}